<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="alltest" >
        <classes>
            <class name="ru.stqa.pft.mantis.test.LoginTest" />
            <class name="ru.stqa.pft.mantis.test.RegistrationTest" />
        </classes>
    </test>
</suite>
